/* Start Genral */

body,* {
    font-family: JF-Flat-regular;
}

@font-face {
    font-family: JF-Flat-regular;
    src: url("../fonts/Aljazeera-2.ttf") format("opentype");
}

@font-face {
    font-family: JF-Flat-medium;
    src: url("../fonts/Al-Jazeera-Arabic-Bold-2.ttf") format("opentype");
}


@font-face {
    font-family: ge-tv;
    src: url("../fonts/ge-tv.ttf") format("opentype");
}
/* End Genral */

/* start css First Page */

.icon-padding {
  padding-left: 10px;
}

.bg-gray {
  background-color: #f6f6f6 !important;
  color: #555
}

.box-img {
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: 15px;
}

.box-img .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.box-img:hover .overlay-box {
  opacity: 1;
}



.box-img .overlay-box .option-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 50%;
  text-align: center;
}

.box-img .overlay-box .option-icons a {
  color: #FFF;
}

.box-img .overlay-box .option-icons a i {
  font-size: 25px;
  padding: 5px;
}

.box-img .fixed-top-rec {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(0,0,0,0.5);
  color: #FFF;
}

.ps__rail-y {
  display: none !important;
}

/* end css First Page */
/* Start Css Loader */
.box-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 999999999
}

.box-loader1 {
  display: none;
}
.lds-roller {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End Css Loader */

/* Start Tool Box */
.option-box {
  position: fixed;
  bottom: 100px;
  left: 0px;
  z-index: 9999
}

.option-box .color-option {
  background-color: #333;
  color: #FFF;
  padding: 10px;
  width: 200px;
  border: 1px solid #EEE;
  float: left;
  display: none;
}

.option-box .color-option ul {
  padding: 0;
  margin: 0;
}

.option-box .color-option ul li {
  width: 20px;
  height: 20px;
  background-color: #EEE;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.option-box .color-option ul li:nth-child(1) {
  background-color: #5867DB
}
.option-box .color-option ul li:nth-child(2) {
  background-color: #607d8b
}
.option-box .color-option ul li:nth-child(3) {
  background-color: #8bc34a
}
.option-box .color-option ul li:nth-child(4) {
  background-color: #e91e63
}
.option-box .color-option ul li:nth-child(5) {
  background-color: #FFF
}

.bg1 {
  background-color: #5867DB !important
}
.bg2 {
  background-color: #607d8b !important
}
.bg3 {
  background-color:  #8bc34a !important
}
.bg4 {
  background-color: #e91e63 !important
}
.bg5 {
  background-color: #FFF !important
}

.option-box .gear-check {
  padding: 5px;
  background-color: #262626;
  color: #FFF;
  cursor: pointer;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
  font-size: 1.3rem;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
  font-size: 1.15rem;
}

.form-group label {
  font-size: 1.2rem;
}

.kt-subheader .kt-subheader__main .kt-subheader__title {
  font-size: 1.3rem;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user .kt-header__topbar-welcome {
  font-size: 1.1rem;
}

.btn {
  font-size: 1.2rem
}

.kt-pagination {
  justify-content: center;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-number {
  text-align: center;
  margin: auto !important;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body {
  display: block;
  flex: none;
  margin: auto;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state="current"] {
  background: #CCC;
}

.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item[data-ktwizard-state="current"] .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title {
  color: #FFF !important;
  font-weight: normal;
}
.kt-wizard-v4 .kt-wizard-v4__nav .kt-wizard-v4__nav-items .kt-wizard-v4__nav-item .kt-wizard-v4__nav-body .kt-wizard-v4__nav-label .kt-wizard-v4__nav-label-title{
  font-weight: normal;
}
/* End Tool Box */
